/* RESETS */
html {
  font-size: 16px;
  min-height: 100vh;
  min-width: 300px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
figure,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(0, 0%, 93%);
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* BOUNDARY INSPECTOR */
/* body * {
    border: 1px solid hsl(231, 82%, 44%);
} */

/* LAYOUT */
.main-container {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

/* HEADER */
.header {
  border-bottom: 1px solid hsl(0, 0%, 87%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
}

.header .github-link {
  font-size: 2.5rem;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.footer .main-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
}

/* SECTION DEFAULT STYLING */
.section {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vw - 8rem);
  min-width: 100vw;
  scroll-snap-align: start;
}

/* HERO */

/* RINGS */
.rings {
  /* background: hsl(0, 0%, 27%); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.rings img {
  width: 55%;
  height: 55%;
  border-radius: 100%;
}

.circle {
  position: absolute;
  width: 500px;
  height: 310px;
}

.circle svg {
  position: relative;
  width: 500px;
  height: 310px;
}

.circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  transform: translate(0, 5px);
}

.circle1 svg circle {
  stroke: transparent;
}

.circle2 {
  transform: rotate(180deg);
}

.circle2 svg circle {
  stroke: hsl(0, 0%, 60%);
  stroke-dasharray: 944;
  stroke-dashoffset: 550;
}

.circle3 {
  transform: rotate(-28deg);
}

.circle3 svg circle {
  stroke: hsl(0, 0%, 7%);
  stroke-dasharray: 944;
  stroke-dashoffset: 780;
}

.circle4 {
  transform: rotate(36deg);
}

.circle4 svg circle {
  stroke: hsl(0, 0%, 70%);
  stroke-dasharray: 944;
  stroke-dashoffset: 571;
}
