<section id="projects" class="section projects">
  <!-- Container -->
  <div class="container">
    <!-- Desc -->
    <div class="desc">
      <p class="desc__title">Projects.</p>

      <div class="desc__summary">
        <div class="desc__tagline">
          <span class="desc__line"></span>
          <p class="desc__subtitle">You can't use up creativity.</p>
        </div>

        <p class="desc__subtitle desc--ml">
          The more you use, <br />
          The more you have.
        </p>
      </div>
    </div>
    <!-- End desc -->

    <!-- Tiles -->
    <div class="tiles">
      <div class="tile">
        <div class="tile__child">
          <img
            src="/assets/images/project_sample_1.jpg"
            alt="finding penguins"
            class="tile__img"
            width="191"
            height="136"
          />

          <a href="#" class="tile__box">
            <div class="tile__info">
              <p class="tile__title">CharityML</p>
              <p class="tile__number">1</p>
            </div>
          </a>
        </div>
      </div>

      <div class="tile">
        <div class="tile__child">
          <a href="#" class="tile__box">
            <div class="tile__info">
              <p class="tile__title">The 102 Oxford Flowers</p>
              <p class="tile__number">2</p>
            </div>
          </a>

          <img
            src="/assets/images/project_sample_1.jpg"
            alt="finding penguins"
            class="tile__img"
            width="191"
            height="136"
          />
        </div>
      </div>

      <div class="tile">
        <div class="tile__child">
          <img
            src="/assets/images/project_sample_1.jpg"
            alt="finding penguins"
            class="tile__img"
            width="191"
            height="136"
          />

          <a href="#" class="tile__box">
            <div class="tile__info">
              <p class="tile__title">Arvato Inc.</p>
              <p class="tile__number">3</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- End Tiles -->
  </div>
  <!-- End Container -->
</section>
