<section id="projects" class="section projects">
  <!-- Container -->
  <div class="container">
    <!-- Desc -->
    <div class="desc">
      <p class="desc__title">Projects.</p>

      <div class="desc__summary">
        <div class="desc__tagline">
          <span class="desc__line"></span>
          <p class="desc__subtitle">You can't use up creativity.</p>
        </div>

        <p class="desc__subtitle desc--ml">
          The more you use, <br />
          The more you have.
        </p>
      </div>
    </div>
    <!-- End desc -->

    <!-- Tiles -->
    <div class="tiles">
      {% for project in site.projects %}
      <div class="tile">
        <img
          src="/assets/images/{{ project.image_path }}/{{ project.cover }}"
          alt="{{ project.cover }}"
          class="tile__img"
        />

        <a href="{{ project.url }}" class="tile__box">
          <div class="tile__info">
            <p class="tile__title">{{ project.short_title }}</p>
            <p class="tile__number">{{ forloop.index }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <!-- End Tiles -->
  </div>
  <!-- End Container -->
</section>
