/* REUSABLE COMPONENTS */

/* DESC */
.desc {
  margin-bottom: 2rem;

  &__title {
    color: hsl(var(--text) / 0.87);
    font-size: 2.65rem;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    color: hsl(var(--text) / 0.87);
    font-size: 0.875rem;

    @media screen and (min-width: 768px) {
      width: 10.625rem;
    }
  }

  &__summary {
    color: hsl(var(--text) / 0.87);
    font-weight: 300;
    padding-left: 2px;
  }

  &--ml {
    margin-left: 2.25rem;
  }

  &__tagline {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__line {
    width: 1.25rem;
    border-top: 2px solid hsl(var(--text) / 0.87);
  }
}
/* END DESC */

/* NAVBAR */
.navbar {
  color: hsl(var(--text) / 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  &__item {
    padding-bottom: 0.25rem;
    position: relative;

    &--current {
      color: hsl(var(--accent));
    }

    &:hover {
      color: hsl(var(--accent));
      font-weight: 700;
    }

    /* Stroke */
    &,
    &::before,
    &::after {
      transition: all 0.4s;
    }

    &::after {
      content: "";
      color: transparent;
      background: hsl(var(--accent));
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 2px;
      width: 0%;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
/* END NAVBAR */
