.hr {
  background: none;
  border: none;
  border-bottom: 1px solid hsl(var(--text) / 0.12);
  margin: 1.5rem 0;
  height: 0;
}

.hr:last-child {
  display: none;
}

.content {
  color: hsl(var(--text) / 0.6);

  .title {
    color: hsl(var(--text) / 0.87);
    font-size: 1.875rem;
  }

  .subtitle {
    color: hsl(var(--text) / 0.38);
    font-size: 1.125rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: hsl(var(--text) / 0.87);
  }

  pre {
    background-color: hsl(var(--text) / 0.12);
    color: hsl(var(--text) / 0.87);
  }

  code {
    background: none;
  }

  strong {
    color: inherit;
  }
}

.figcaption {
  color: hsl(var(--text) / 0.38);
}
