/* INTERESTS */
.interests {
  display: none;
}

/* interest__void takes up space on left to push 
  invisible ring (setting interest shape) to center */
.interests__void {
  width: calc(var(--mx-width) * 0.475);
}

.arc-list {
  width: 100%;
}

.arc-list__circle {
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  shape-outside: circle(50%);
}

.list {
  color: hsl(var(--text) / 0.6);
  cursor: default;
  font-weight: 300;
  list-style: none;
  padding-top: 5.25rem;
}

.list__item {
  transition: all 0.3s;
}

.list__item:hover {
  color: hsl(var(--accent));
}

.list__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 700px) {
  .interests {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -1rem;
    z-index: 12;
  }
}

/* RINGS */
.rings {
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.rings .avatar {
  width: 55%;
  height: 55%;
  border-radius: 100%;
}

.circle {
  position: absolute;
  width: 500px;
  height: 310px;
}

.circle svg {
  position: relative;
  width: 500px;
  height: 310px;
}

.circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  transform: translate(0, 5px);
}

/* Invicible circle - for alignment and rotation guide during dev */
/* May remove before deployment */
.circle1 svg circle {
  stroke: transparent;
}

/* Top half */
.circle2 {
  transform: rotate(180deg);
}

.circle2 svg circle {
  stroke: hsl(var(--text) / 0.05);
  stroke-dasharray: 944;
  stroke-dashoffset: 550;
}

/* Side arc */
.circle3 {
  transform: rotate(-28deg);
}

.circle3 svg circle {
  stroke: hsl(var(--text) / 0.6);
  stroke-dasharray: 944;
  stroke-dashoffset: 780;
}

/* Bottom half */
.circle4 {
  transform: rotate(36deg);
}

.circle4 svg circle {
  stroke: hsl(var(--text) / 0.05);
  stroke-dasharray: 944;
  stroke-dashoffset: 571;
}
/* END RINGS */

/* REFLECTIONS */

/* BOUNDARY INSPECTOR */
body * {
  border: 1px solid hsl(231, 82%, 55%);
}
