---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />

    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <!-- Breadcrumb -->
    <header class="header is-paddingless-horizontal">
      <div class="container grid">{% include breadcrumb.html %}</div>
    </header>
    <!-- /Breadcrumb -->

    <!-- section -->
    <section class="section is-paddingless-horizontal" style="padding-top: 0">
      <div class="container grid">
        <div class="block"></div>

        <article class="center">
          <div class="content">
            <h1 class="title">{{ page.title }}</h1>
            <h2 class="subtitle">{{ page.subtitle }}</h2>

            <p>
              <span>
                <time datetime="{{ page.date | date_to_string }}">
                  {{ page.date | date_to_string }}
                </time>
                &#183; {{ page.length }} min read
              </span>
            </p>
          </div>
        </article>

        <div class="block"></div>
        <div class="block"></div>

        <!-- for story image -->
        <figure class="grid-xl">
          <img src="/assets/images/{{ page.image }}" alt="{{page.image}}" />
        </figure>

        <figcaption class="level">
          <small class="level-item figcaption">{{ page.image-caption }}</small>
        </figcaption>

        <div class="content">{{ content }}</div>
      </div>
    </section>
    <!-- /section -->

    <!-- Footer -->
    <footer class="footer">Build footer here.</footer>
    <!-- End Footer -->
  </body>
</html>
